.task_item {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 0 1px 1px #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;


  button {
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    padding: 5px 10px;

    &:hover {
      background: tomato;
      color: #fff;
    }
  }

  &:hover {

  }
}