.task_form {
  margin-bottom: 20px;
  width: 100%;
  display: flex;


  input {
    height: 40px;
    margin-right: 10px;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
  }

  button {
    height: 40px;
    padding: 5px 15px;
    box-sizing: border-box;
    cursor: pointer;
  }

}